a:link {
  color: #39a3f0 !important;;
}
a:link:hover {
  color:#0e5182;
}
/* Container */
.container {
  background-color: rgba(249, 249, 249, 0) !important;
}

/* Division */

/* Container */
.container .slider-carousel .container{
  background-color:#444444 !important;
 }
 /* Post container */
.container .almighty-wrapper .post-container{
  background-color:rgba(176,144,144,0) !important;
 }
 
 .container .header{
  justify-content:flex-end;
  padding-bottom:50px;
 }
 .container .switch{
  justify-content:flex-end;
  padding-bottom:50px;

 }
 
 
/**********************site css ends*****************************************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border: 2px solid #fff;
  border-radius: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggler::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggler {
  background-color: #333333;
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  color: white;
  fill:"\f185";
  
}
input:focus + .toggler {
  box-shadow: 0 0 1px #333333;
}

input:checked + .toggler:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

}

.toggler.round {
  border-radius: 16px;
}

.toggler.round:before {
  border-radius: 50%;
}



 .container .header label{
  padding-top:5px;
  padding-bottom:5px;
  margin-top:0px;
  margin-bottom:15px;
  background-color:#b71515;
  border-width:0px;
 }
 

 .header .switch .toggler{
  background-color:#222;
  border-style:none;
  margin-bottom:0px;
  width:60px;
 }
 /*********************************************************************//* Sun */
 .header .switch .sun{
  background-color:rgba(34,34,34,0) !important;
 }
 .header .switch .moon{
  background-color:rgba(34,34,34,0) !important;
  transform='scale(2,2) scale(-1,1)';
  padding-left:50px;
 }
.sun {
  filter: invert(1);
  transition: 1s;
 }
.container .header .header-darkmode-toggle{
  text-align:right;
 }
.header-darkmode-toggle svg{
  text-align:left;
 }

 /*********************************************************/