table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
/* Heading */
.article-container a h4{
    color:#424242;
    font-family:'Roboto Condensed', sans-serif;
    padding-left:3px;
    padding-right:3px;
    padding-top:15px;
    padding-bottom:5px;
   }
   
   @media (max-width:1092px){
   
    /* Heading */
    .article-container a h4{
     font-size:18px;
     padding-left:2px;
     padding-right:2px;
     padding-top:15px;
    }
    
   }
    #navbarSupportedContent {
    max-width:90%;
    justify-content:flex-end;
    margin-left: 0px;
    margin-top: 0px;
    }
html,
body {
    width: 100vw;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;;
}
/* Heading */
.nav-item{
    font-family:Roboto Condensed, sans-serif;
    font-weight: 600;
 
   }
   .nav-link{
    font-family:Roboto Condensed, sans-serif;
    font-weight: 600;
 
   }
.post-container h1{
    font-family:Roboto Condensed, sans-serif;
    font-weight: 600;
    margin-bottom:30px;
 
   }
   
   /* Heading */
   .post-container h2{
    font-family:Roboto Condensed, sans-serif;
    font-weight: 600;
    margin-bottom:30px;
   }
   /* Heading */
   .post-container h3{
    font-family:Roboto Condensed, sans-serif;
    margin-bottom:30px;
   }
   /* Heading */
   .post-container h4{
    font-family:Roboto Condensed, sans-serif;
   }
   /* Container */
   .body{
    font-family:'Roboto', sans-serif;
    margin:0px;
    height:100vh;
   }

h4 {
    font-size: 20px;
}

/* User link */
#navbarSupportedContent .nav-item .user-link {
    padding-left: 5px;
    padding-right: 5px;
    color:#ffffff;
}

.neverforget {
    margin-top: 80px;
}

@media (max-width:900px) {
    .latest-box {
        width: 100%;
        margin: 20px 10px 20px 10px;
    }

    /* Nav item */
    .container .navbar #navbarSupportedContent .navbar-nav .nav-item {
        display: inline !important;
    }

     /* Navbar supported content */
 #navbarSupportedContent{
    max-width:100%;
    margin-left:20px;
    margin-right:20px;
   }

}

/* Container */
.container {
    max-width: 1600px !important;
}


/* Heading */
.article-container .article-grid h4 {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    color: black;
}


/* Article */
.container article {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}



/* Column 4/12 */
.content-wrapper article .article-grid {
    padding: 0px 0px 15px 0px;
    background-color: #ffffff;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Image */
.article-grid img {
    margin-bottom: 15px;
}

/*******************quote style***************/
/* Column 12/12 */
.container .content-wrapper article .quotation .row .col-md-12 {
    width: 100% !important;
}

.quotation .col-md-12 {
    padding: 60px 80px 40px;
    position: relative;
}

.quotation .col-md-12 p {
    font-size: 2em;
    font-weight: 700px;
    text-align: left;
}



.quotation .col-md-12:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;

    content: "\f10d";
    font-size: 200px;
    color: rgba(0, 0, 0, 0.1);

}

.quotation .col-md-12::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #074751;
    height: 3px;
    width: 200px;
}

.quotation .col-md-12 {
    font-size: 1.5em;
    width: 60%;
    margin: 50px auto;
    font-family: Roboto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #074751;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

.quotation .col-md-12::before {
    font-family: Arial;
    content: "\201C";
    color: #6d0719;
    font-size: 5em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.quotation .col-md-12::after {
    content: '';
}

.quotation .col-md-12 span {
    font-size: 0.8em;
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

/**************quote style end**************/



/**************************************************content styles end***************/
/* Content wrapper */
.container .content-wrapper {
    margin-top: 120px;
    margin-bottom: 120px;
    color: black;
}

/* Row */
.footer-row-2 {
    background-color: #d00a27;
    color: #ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    line-height: 3em;
}

/* Social icon */
.social-icon {
    filter: invert(1);
    font-size: 24px;
}

.user-box a {
    color: #ffffff;
}


/* Row */
.footer-row-3 {
    background-color: #a91818;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Row */
.footer-wrapper footer .footer-row-3 {
    text-align: center;
}

/************************trophies***************/
/* Row */
.footer-row-1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Column 2/12 */
#trophies .trophy-box {
    /*box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.05);*/
    margin: 10px 5px 10px 0px;
    padding: 10 px;
    background-color: #fafafa;
    border-radius: 3px;

}





#trophies .footer-row-1 {

    justify-content: center;
}

.trophy-box:hover {
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}
/* Column 1/12 */
#trophies .trophy-box{
    max-width:14%;
    min-width: 13.4%;
    align-self:center;
    margin-left:0px;
   }
   
   /* Column 1/12 */
   .container .slider-wrapper .footer-wrapper footer .container #trophies .footer-row-1 .trophy-box{
    width:13.3% !important;
   }
   

   
/* Img fluid */
.footer-wrapper .img-fluid {
    padding-bottom: 5px;
}


/* Slider wrapper */
.container .slider-wrapper {
    margin-left: -12px;
    margin-right: -12px;
}

.carousel {
    margin-top: -50px;
    margin-bottom: 20px;
    z-index: 0;
}

/* Image */
.container .slider-wrapper #carousel .carousel-inner .carousel-item img {
    height: 600px;
    object-fit: cover;
    max-height: auto;
}

/* Carousel control next */
#carousel .carousel-control-next {
    background-color: rgba(240, 240, 240, 0);
}

/* Visually hidden */
#carousel .carousel-control-next .visually-hidden {
    font-size: 32px;
    display: none;
}

/* Carousel control next icon */
#carousel .carousel-control-next .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    margin-right: -40px;
}

#carousel .carousel-control-prev {
    background-color: rgba(240, 240, 240, 0);
}

/* Visually hidden */
#carousel .carousel-control-prev .visually-hidden {
    display: none;
}

/* Carousel control prev icon */
#carousel .carousel-control-prev .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
    margin-left: -40px;
}

/* Carousel caption */
.carousel-caption {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.67);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Carousel indicators */
#carousel .carousel-indicators {
    margin-top: 10px;
}


/* Carousel control prev */
#carousel .carousel-control-prev {
    border-style: none;
}

/* Carousel control next */
#carousel .carousel-control-next {
    border-style: none;
}

.container .navbar #navbarSupportedContent .navbar-nav .nav-item {
    display: inline-flex !important;
}

/* User box */
.navbar_logo {
    width: 80px;
}

.topbar {
    background-color: #B71515;
    margin-bottom: -50px;
    z-index: 20;
    background-image:url("https://images.unsplash.com/photo-1643796903573-68834ffadcb6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNTc5fDB8MXxzZWFyY2h8Nnx8YW5maWVsZHxlbnwwfHx8fDE2NzUyODI4Nzg&ixlib=rb-4.0.3&q=80&w=2560");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;

}

   

.header {
    padding: 30px 50px 30px 50px;
    margin-bottom: -10px;
    background-color: #B71515;
    margin-bottom: -50px;
    z-index: 40;

}

.navbar {
    background: #D00A27;
    color: #fff;
    height: 70px;
    z-index: 60;
    text-transform: uppercase;
}

/* Nav link */

.navbar-nav .nav-item .nav-link {
    color: #ffffff !important;
    padding-left: 10px;
    padding-right: 10px;

}

.user-box {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    padding-left: 10px;
    border-left-color: rgba(255, 255, 255, 0.4);
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(255, 255, 255, 0.4);
    padding-right: 10px;
    border-left-width: 1px !important;
}


/* Navbar nav */
#navbarSupportedContent .navbar-nav {
    margin-left: 200px !important;
}

/* Body */
body.wrapper {
    background-color: #dedede;
    background-size: contain;
    background-attachment: fixed;
}

.container {
    background-color: #f9f9f9;
}

/* Nav icon */
.nav-icon {
    filter: invert(1) !important;
    margin-top: -7px;
}


/***************************ARTICLE_ PAGE STYLES (DO NOT TOUCH AGAIN)****************************/
.new-article {
    height: auto;
    width: 50%;
    margin: auto;
}

.article-container {
    max-width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

/* Column 12/12 (hover) */
.article-container .article-grid:hover {
    transform: scale(1.05);
    transition: 300ms ease-in-out;
}
.latest-box:hover {
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}
.social-icon span:hover {
    transform: scale(1.5);
    transition: 300ms ease-in-out;
}

.article-image-container {
    margin: auto;
}

.article-picture {
    margin: auto;
    padding-bottom: 10px;
    width: auto;
}

.article-content {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: justify;
    max-width: 900px;
    margin: auto;
}

.article-footer {
    text-align: right;
}


/***************************ARTICLE STYLES ENDS ****************************/

/**********************************************************************/
/***************************mobile styles, keep bottom******************/
/************************************************************************/
@media (max-width:1000px) {

/* Column 1/12 */
#trophies .trophy-box{
    margin:10px;
    max-width:100%;
    min-width: 25vw ;

   }
   /* Column 1/12 */
   .container .slider-wrapper .footer-wrapper footer .container #trophies .footer-row-1 .trophy-box{
    width:100%;
   }
   
   /***********************************************************/
    .quotation .col-md-12 p {
        font-size: 1.2em;

    }

    /* User link */
    #navbarSupportedContent .nav-item .user-link {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Navbar supported content */
    #navbarSupportedContent {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 26px;
        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
        border-radius: 3px;
        background-image: linear-gradient(-93deg, #b71515 24%, #520909 80%)
    }


}

@media (max-width:1000px) {

    /* Navbar supported content */
    #navbarSupportedContent {
        background-color: #bcbcbc;
        text-align: center;
            max-width:100%;
            margin-left:20px;
            margin-right:20px;
    }

    /* List */
    #navbarSupportedContent ul {
        background-color: #f9f9f9;
        margin-top: 0px;
        background-color: rgba(255, 255, 255, 0);
    }

    /* Nav link */
    .navbar-nav .nav-item .nav-link {
        color: #ffffff !important;
    }

}

@media (max-width:900px) {

    /* Nav link */
    .navbar-nav .nav-item .nav-link {
        color: #ffffff !important;
    }

    /* Nav link (hover) */
    .navbar-nav .nav-item .nav-link:hover {
        background-color: rgba(255, 255, 255, 0);
    }


    /* Navbar nav */

    /* Navbar toggler (active) mobile */
    .navbar .navbar-toggler:active {
        border-style: none;
        border-width: 0px;
    }

    /* User box */
    .navbar-nav .user-box {
        display: inline-flex;
        justify-content: center !important;
        padding-left: 2px;
    }

    /* User link mob*/
    #navbarSupportedContent .nav-item .user-link {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* User link */
.user-box .nav-item:nth-child(2) .user-link {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(130, 130, 130, 0.87);
    color: #ffffff !important;
    border-radius: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5px;
}

.user-box .nav-item:nth-child(2) .user-link:hover {
    background-color: #999;
}



/* User link */
.user-box .nav-item:nth-child(1) .user-link {
    padding: 20px;
    background-color: #d00a27;
    color: #ffffff !important;
    margin-right: 5px;
    border-radius: 2px;
}

/* User link (hover) */
.user-box .nav-item:nth-child(1) .user-link:hover {
    background-color: #940e0e;
    color: #dddddd !important;
}

/* Navigation */
.navbar {
    padding-top: 0px;
    min-height: 70px;
    margin-top: 0px;
}



@media (max-width:1000px) {

    /* Division */
    #navbarSupportedContent>div:nth-child(3) {
        display: none;
    }

    /* User box */
    #navbarSupportedContent .user-box {
        padding-bottom: 5px;
        padding-top: 5px;
        border-left-color: rgba(255, 255, 255, 0.1);
        border-right-color: rgba(255, 255, 255, 0.1);
    }

    /* List */
    #navbarSupportedContent ul {
        background-color: #f9f9f9;
    }

    /* Navbar supported content */
    #navbarSupportedContent {
        background-color: #333;
    }


    /* List */
    #navbarSupportedContent ul {
        color: #444;
        font-weight: 500;
        border-width: 1px;
        border-style: solid;
        border-color: #dedede;
    }

    /* Nav link */
    .navbar-nav .nav-item .nav-link {
        color: #444 !important;
        font-size: 26px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 500;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .navbar-nav .nav-item {
        justify-content: center;
    }

    .navbar-nav .nav-item:hover {
        background: #dedede;
    }



    /* Navbar nav mobile*/
    .navbar-nav {
        background-color: #ffffff;
        box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.05);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    /* Navigation dropdown mobile*/
    .container nav {
        padding-bottom: 90px;
        border-radius: 3px;
        box-shadow: 5px 3px 10px 0px rgba(255, 255, 255, 0.3);

    }

    /* Navbar toggler icon mobile */
    .navbar-toggler-icon {
        opacity: 100%;
        font-weight: 900;
        color: #fff !important;
        font-size: 24px;
    }

    /* List  mobile*/
    .container .navbar #navbarSupportedContent ul {
        margin-left: 0px !important;
    }

    /* User box  mobile*/
    #navbarSupportedContent .navbar-nav .user-box {
        margin-left: 0px;
        margin-top: 20px;
    }

    /* footer row 2 to stacked in mobile*/
    .footer-row-2{
        display: block;
        padding-top:50px;
        padding-bottom:50px;
        font-size:18px;
    }

    /* footer row 3 to stacked in mobile*/
    .footer-row-3{
        display: block;
    }
}

.carousel-caption {
    display: block;
}

/**********************mobile styles end************************/

/*text link*/
a:link {
    color: black;
    text-decoration: none;
}
.article-grid, h4{
    color: black;
}
